# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
.env

# Data (önemli!)
data/raw/
data/processed/

# Notebooks
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log

# Model outputs
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# Matplotlib cache (main.py MPLCONFIGDIR)
.mplconfig/